<div fxLayout="column" fxLayoutAlign="space-evenly stretch">
  <h1 class="text-center header-background">Welcome to COVID-19 Data Dashboard</h1>
  <div class="text-center">
      <mat-form-field>
          <mat-label>Select Chart</mat-label>
          <mat-select (selectionChange)="navigateChart($event.value)">
              <mat-option *ngFor="let chart of chartNames" [value]="chart.value">
                  {{chart.viewValue}}
              </mat-option>
          </mat-select>
      </mat-form-field>
  </div>
  <router-outlet></router-outlet>
</div>